/*검색창 CSS */

.search-box {
  position: absolute;
  top: 50%;
  left: 71%;
  transform: translate(-50%, -50%);
  height: 34.5%;
  padding: 0px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 0 2px #000000;
}

.search-btn {
  color: #8380a7;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}


.search-txt {
  vertical-align: text-top;
  padding-inline-start: 10px;
  background: none;
  border: none;
  outline: none;
  color: #000000;
  font-size: 20px;
  margin-inline-end: 6px;
}

.jb-c {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.search-btn:hover .jb-b {
  visibility: hidden;
}

.search-btn:hover .jb-c {
  display: block;
}


.clicked {
  margin-left: 0px;
  height: 29px;
  border-radius: 6px 0 0 6px;
  outline: rgb(255, 255, 255);
  box-shadow: 0px 0px 0 2.6px rgb(255, 0, 0);
}


/*내비바 꾸밈 */


.navbar-custom {
  background-color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, .8);
}

/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
  color: #C47AFF;
  padding: .75rem 1rem;
}

body {
  background-color: rgb(249, 249, 241);
  font-family: 'Jua', sans-serif;
}

.navbar-menu li :hover {
  background-color: #DEF5E5;
  color: #8D72E1 !important;
  border-radius: 2rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}





/* popup */

.popup {
  color: #868686;
  letter-spacing: -.1px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #919196;
  margin: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.popup-inner {
  color: #868686;
  letter-spacing: -.1px;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
}



.popup-btns {
  color: #868686;
  letter-spacing: -.1px;
  margin: 0;
  padding: 0;
  border-top: 1px solid #919196;
  overflow: hidden;
}


.popup-close {
  overflow: visible;
  padding: 0;
  margin: 0;
  float: left;
  border: 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  height: 60px;
  outline: 0;
  width: 50%;
  color: black;
  background-color: #ffffff;
  border-left: 1px solid #cdd2d7;
}



a {
  text-decoration: none;
}

.wrap {
  padding: 10px;
}

.btn_open {
  font-weight: bold;
  margin: 5px;
  padding: 4px 6px;
  color: #fff;
}


.pop_wrap .pop_inner {
  display: inline-block;
  padding: 20px 30px;
  background: #fff;
  width: 200px;
  vertical-align: middle;
  font-size: 15px;
}

.btn_close {
  width: 70px;
  padding: 0;
  height: 30px;
  background-color: white;
}