{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{ % bootstrap_css % }
{% block content %}
<div class="row mt-5">
  <!-- 프로필 사이드 배너 -->
  {% if user == request.user %}
  <div class="col-3 px-3 pt-3">
    <h3 class="p-3 text-center">설정</h3>
    <ul class="list-group">
      <li class="pt-2 list-group-item list-group-item-action">
        <a href="{% url 'accounts:profile_update' %}">프로필 설정</a>
      </li>
      <li class="pt-2 list-group-item list-group-item-action">
        <a href="{% url 'accounts:password_update' %}">비밀번호 설정</a>
      </li>
      <li class="pt-2 list-group-item list-group-item-action">
        <a href="">계정 삭제</a>
      </li>
    </ul>
  </div>
  {% endif %}
  <!-- 프로필 -->
  <div class="col-9 px-4">
    <div class="container">
      <h4 class="fw-bold">
        {{ user.nickname }}
      </h4>
      {% if user.email %}
      <div>{{ user.email }}</div>
      {% else %}
      <div>no email</div>
      {% endif %}
      <hr>
      <div>
        <h3>최근 본 상품</h3>
      </div>
      <hr>
      <div>
        <h3>장바구니</h3>
      </div>
    </div>
  </div>
</div>
{% endblock content %}