{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
{% include 'nav.html' %}
<div class="container" style="min-height: 600px;">
  <div class="detail-top" style="padding-top:30px;">
    <div class="detailArea" style="min-height:530px;">
      <div class="imgArea-wrap">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/carouseldetail-1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/carouseldetail-1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/carouseldetail-1.jpg' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="infoArea-wrap">
        <div class="infoArea">
          <div class="detail-fixed-box" style="position: relative;">
            <div class="fixed-box-contents"
              style="height: 394.25px; margin-bottom: 0px; margin-right:0px; max-height: none;">
              <div class="headingArea">
                <h2>상품명</h2>
              </div>
              <div class="xans-element- xans-product xans-product-detaildesign">
                <!--
                  출력 갯수 지정 변수, 없으면 설정된 전체가 나옵니다.
                  count = 10
                -->
                <table border="1" summary style="border: 0;
                  font-size: 12px;
                  margin: 8px 0;">
                  <caption> 기본 정보</caption>
                  <tbody>
                    <tr class="product_name_css  xans-record-" style="display: none;">
                      <th scope="row">상품명</th>
                      <td><span style="font-size:17px;color:#555555;">여기상품명입력</span><span class="df-custom-add"></span>
                      </td>
                    </tr>
                    <tr class="prd_brand_css  xans-record-">
                      <th scope="row">브랜드</th>
                      <td><span style="font-size:12px;color:#555555;">여기브랜드입력</span><span class="df-custom-add"></span>
                      </td>
                    </tr>
                    <tr class="product_custom_css  xans-record-">
                      <th scope="row">소비자가</th>
                      <td><span style="font-size:14px;color:#555555;"><span
                            id="span_product_price_custom"><strike>여기가격</strike></span></span><span
                          class="df-custom-add"></span>
                      </td>
                    </tr>
                    <tr class="product_price_css  xans-record-">
                      <th scope="row">판매가</th>
                      <td><span style="font-size:14px;color:#222222;font-weight:bold;"><strong
                            id="span_product_price_text">여기판매가</strong><input id="product_price" name="product_price"
                            value="" type="hidden"></span><span class="df-custom-add">
                          <div class="discountrate"><span class="rate">할인</span>% OFF</div>
                        </span>
                      </td>
                    </tr>
                    <tr class="delivery_price_css  xans-record-">
                      <th scope="row">배송비</th>
                      <td><span style="font-size:12px;color:#555555;"><span class="delv_price_B"><input
                              id="delivery_cost_prepaid" name="delivery_cost_prepaid" value="P"
                              type="hidden"><strong>배송비</strong> (00000원 이상 구매 시 무료)</span></span><span
                          class="df-custom-add"></span>
                      </td>
                    </tr>

                    <tr class="review_cnt_css  xans-record-">
                      <th scope="row">사용후기</th>
                      <td><span style="font-size:12px;color:#555555;">숫자</span><span class="df-custom-add"></span>
                      </td>
                    </tr>
                    <tr class="qna_cnt_css  xans-record-">
                      <th scope="row">상품문의</th>
                      <td><span style="font-size:12px;color:#aa9191;">숫자</span><span class="df-custom-add"></span>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
              <ul border="1" summary="" class="middle_line"
                style="border-bottom: 1px solid #e7e7e7; margin-bottom: 3px;">
              </ul>
              <div class="guideArea" style="position: relative;">
                <p class="info" style="margin: 0; padding: 11px 0 0 4px; color: #757575;">
                  <span class="lang-minimum-limit" style="font-size: 1px;">
                    최소주문수량
                    <i class="count" style="font-size: 12px;
                  font-style: normal;
                  margin-left: 4px;
                  margin-right: 2px;
                  color: #555;">1</i>
                    개이상
                  </span>
                </p>
              </div>
              <div id="totalProducts" class="">
                <p class="ec-base-help txtWarn txt11 "> 수량을 선택해주세요.</p>
                <p class="ec-base-help txtWarn txt11 displaynone"> 위 옵션선택 박스를 선택하시면 아래에 상품이 추가됩니다.</p>
                <table summary="" border="1">
                  <caption>상품 목록</caption>
                  <colgroup>
                    <col style="width:284px;">
                    <col style="width:80px;">
                    <col style="width:110px;">
                  </colgroup>
                  <thead>
                    <tr>
                      <th scope="col">상품명</th>
                      <th scope="col">상품수</th>
                      <th scope="col">가격</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr>
                      <td>여기 상품명</td>
                      <td>
                        <span class="quantity">
                          <input id="quantity" name="quantity_opt[]" value="1" type="text"> <a href="#none"><img
                              src="//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_count_up.gif" alt="수량증가"
                              class="QuantityUp up"></a>
                          <a href="#none"><img
                              src="//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_count_down.gif" alt="수량감소"
                              class="QuantityDown down"></a>
                        </span>
                      </td>
                      <td class="right">
                        <span class="quantity_price">12,000원<input type="hidden" name="option_box_price"
                            class="option_box_price" value="12000" item_code="P000BAYA000A"></span> <span
                          class="mileage displaynone" style="display: none;">(<img src=""> &nbsp;<span
                            class="mileage_price"></span>)</span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3">
                        <strong>총 상품금액</strong>(수량) : <span class="total"><strong><em>00000원</em></strong> (1개)</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <ul border="1" summary="" class="middle_line" style="border-bottom: 1px solid #e7e7e7; margin-bottom: 3px;">
    </ul>
    <div class="df-benefit-banner df-bannermanager df-bannermanager-pc-benefit-banner"
      df-banner-code="pc-benefit-banner">
      <ul style="padding-left: 10em;
      display: flex;">
        <li df-banner-clone=""><a href="https://thesuperplay.com/article/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD/1/11097/"
            target="_blank" rel="noopener noreferrer"><img src="{% static 'images/superplay1.jpg' %}"
              alt="홈페이지_상세페이지-상단_회원-혜택-배너-1"></a></li>
        <li df-banner-clone=""><a href="#none" target="" rel=""><img
              src="https://thesuperplay.com/web/upload/NNEditor/20210108/d54f69dd2abf6e243a6a0fc8580f30cb.jpg"
              alt="홈페이지_상세페이지-상단_회원-혜택-배너-2"></a></li>
        <li df-banner-clone=""><a href="https://pf.kakao.com/_XqxaSj" target="_blank" rel="noopener noreferrer"><img
              src="{% static 'images/superplay3.jpg' %}" alt="홈페이지_상세페이지-상단_회원-혜택-배너-3"></a></li>
        <li df-banner-clone=""><a href="#none" target="" rel=""><img
              src="	https://thesuperplay.com/web/upload/NNEditor/20210108/93c15b4908c1b0784dd893aeb7c0634a.jpg"
              alt="홈페이지_상세페이지-상단_회원-혜택-배너-4"></a></li>
      </ul>
    </div>
    <div class="event">
      <div id="CommonEvent17">
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;font-family: 맑은 고딕;;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size: 14px; color: rgb(255, 0, 0);"><strong>※ 상품 구매 시
              안내사항</strong></span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top: 0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <br>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;margin-top: 0cm;margin-bottom: 6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;말머리가 없는 상품은 당일발송 상품입니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;;margin-top: 0cm;margin-bottom: 6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;;color:black;">- [예약상품]을 발매월이 다른
            예약상품이나&nbsp;[당일발송]&nbsp;상품과 함께 주문하시면 가장 늦게 발매되는 상품까지 입고된 이후 발송됩니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;;margin-top: 0cm;margin-bottom: 6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;">-&nbsp;배송을 따로 받길 원하실 경우 상품을 나눠서 주문해주시길
            바랍니다.&nbsp;이미 함께 주문하신 상품을 부분배송 받고 싶으실 경우에는&nbsp;Q&amp;A&nbsp;게시판으로 문의바랍니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;상품이 발매되어 입고 스케줄이 정해지면 상품제목 말머리가
            변경되며 신규입고 카테고리에서 확인이 가능합니다. &nbsp;</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:11px;;color:black;">&nbsp;</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <strong><span style="font-size:13px;color:red;">***&nbsp;</span></strong>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;예약상품이 포함된 주문번호의 상품 취소 및 교환은 주문
            후 24시간 안으로만 가능하며,&nbsp;이후로는 교환이 불가능합니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;주문 후 24시간이 지난 주문번호의 상품을 고객님의
            변심에 의한 환불 요청 시에는 배송비를 포함한 총 주문금액의&nbsp;20%를 차감하고 결제하신 방법으로 취소 및 환불 처리가 이루어집니다.&nbsp;무통장입금의 경우에는 환불 받으실
            [은행명/계좌번호/예금주]를 주문번호와 함께&nbsp;Q&amp;A&nbsp;게시판에 남겨주시면 환불됩니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;메이커의 사정에 의해 상품이&nbsp;[소량 생산/발매
            연기/생산 중지]&nbsp;되는 경우가 있을 수 있으며,&nbsp;그에 따른 입고 수량이 변경될 수 있습니다.&nbsp;이에 해당 시&nbsp;100%&nbsp;환불처리가
            됩니다.&nbsp;발매일 연기의 경우에는 고객님께 따로 연락드리지 않으며,&nbsp;상세페이지에 공지를 하고 있습니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;소량 입고 시,&nbsp;먼저 예약주문/결제된 순서로
            순차적 발송됩니다.&nbsp;수주 기간 내에도 주문의 접수가 종료되는 경우가 있습니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;상세페이지에 사용되는 이미지는 예시
            이미지로,&nbsp;실제 발매되는 상품과는 다를 수 있습니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;">-&nbsp;발매일은 일본 기준입니다.&nbsp;한국 매장에
            도착하기까지 일정 시간이 소요됩니다.&nbsp;</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;아크릴 상품은 제조 과정에서 미세한 기스가 들어가는
            경우가 있습니다.&nbsp;기스,&nbsp;마감처리 미흡,&nbsp;뻑뻑한 상태 등 개체차가 존재하기 때문에 파손이나 파츠 누락을 제외한 위 사항으로는 교환 및 환불이 불가합니다.&nbsp;또한
            개봉하신 경우에는 취소 및 교환이 불가능하니 참고바랍니다.</span>
        </p>
        <p
          style="margin-right:0cm;margin-left:0cm;font-size:13px;margin-top:0cm;margin-bottom:6.0pt;text-align:justify;line-height:107%;">
          <span style="font-size:13px;color:black;">-&nbsp;봉제 상품은 제품특성상 개체차가 있어서
            비대칭,&nbsp;먼지,&nbsp;접착제,&nbsp;실밥이나 ‘받아보니 못생김’&nbsp;등의 문제로는 교환 환불이 불가합니다</span>
        </p>
        <p><br></p>
      </div>
    </div>
  </div>
</div>
</div>




<script>
  document.addEventListener('DOMContentLoaded', function () {

    // 수량변경 - 이벤트 델리게이션으로 이벤트 종류 구분해 처리

    document.querySelectorAll('.updown').forEach(

      function (item, idx) {

        //수량 입력 필드 값 변경

        item.querySelector('input').addEventListener('keyup', function () {

          basket.changePNum(idx + 1);

        });

        //수량 증가 화살표 클릭

        item.children[1].addEventListener('click', function () {

          basket.changePNum(idx + 1);

        });

        //수량 감소 화살표 클릭

        item.children[2].addEventListener('click', function () {

          basket.changePNum(idx + 1);

        });

      }

    );

    //앵커 # 대체해 스크롤 탑 차단

    document.querySelectorAll('a[href="#"]').forEach(function (item) {

      item.setAttribute('href', 'javascript:void(0)');

    });

  });
</script>




Name: {{ article.name }}<br>
Price: {{ article.price }}<br>
Category: {{ article.category }}<br>
Studio: {{ article.studio}}<br>
Description: {{ article.description }}<br>

{% if article.image %}
image: <img src="{{ article.image.url }}" alt="image">
{% endif %}

{% endblock body %}