{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
{% include 'nav.html' %}


<style>
.card{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 20px;
}
</style>

<div class="container-fluid" style="padding: 0px; margin: 0px;">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://thesuperplay.com/web/upload/NNEditor/20220830/56418a2d13ba9c4d57efea0ac3552688.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://thesuperplay.com/web/upload/NNEditor/20210825/7a23ae165d4db2f061d9a2f9abb22817.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/carousel3.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="wrap">
  <a href="#pop_info_1" class="btn_open"></a>


  <div id="pop_info_1" class="pop_wrap" style="display:fixed;">
    <div class="pop_inner" style="display: flex; flex-direction:column; flex-wrap:  wrap;">
      <a href="https://lc.multicampus.com/k-digital/#/login"><img src="{% static '/images/believe.jpg' %}"
          style="width: 400%;"></a>
      <div class="ticloseBtnDiv" stlye="position:abolute; top: 0px; left: 0px; box-sizing: border-box; outline: none;">
        <button type="button" class="btn_close"><img
            src="https://cdn.gamemeca.com/design/images/common/btn_adclose.png"></button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 style="text-align:center; margin-bottom:1.5rem; font-size:3rem; color:#545151;">Popular Items</h1>
  <div class="row row-cols-3 row-cols-md-4 g-8">
    {% for article in articles %}
    <div class="col">
      <a href="{% url 'articles:detail' article.pk %}">
      <div class="card" style="height:300px; border-radius:1.5rem;">
        {% if article.image %}
        <img src="{{ article.image.url }}" class="card-img-top" alt="" style="height:200px;">
        {% endif %}
        <div class="card-body">
          <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none"><h5 style="font-size:25px; color:#393980; text-align:center;" class="card-title">{{ article.name }}</h5></a>
          <p class="card-text" style="font-size:13px; color:#34344e; text-align:center;">  price: $ {{ article.price }} </p> 
        </div>
      </div>
     </a>
    </div>
    {% endfor %}
  </div>


<!-- <div class="">

  {% for article in articles %}
  user: {{ article.user }}<br>
  name: {{ article.name }}<br>
  price: {{ article.price }}<br>

  {% if article.image %}
  image: <img src="{{ article.image.url }}" alt="image">
  {% endif %} -->


  <!-- <hr>
  {% endfor %}
</div> -->


{% endblock body %}