{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>GG Store</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  
  {% bootstrap_css %}
  {% block css %}
  {% endblock css %}

  {% block script %}
  {% endblock script %}




<body>
  <!-- Nav -->
  <nav class="navbar navbar-expand-lg navbar-custom" style="font-size:30px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'articles:index' %}">
        <img class="" src="{% static 'images/logo.png' %}" alt="logo" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-custom"
        aria-controls="navbar-custom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-custom">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-menu">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url  %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Collections by Category
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url %}">APPAREL</a></li>
              <li><a class="dropdown-item" href="{% url %}">GAMES</a></li>
              <li><a class="dropdown-item" href="{% url  %}">COLLECTIBLES</a></li>
              <li><a class="dropdown-item" href="{% url  %}">HOME & OFFICE</a></li>
              <li><a class="dropdown-item" href="{% url  %}">BOOKS</a></li>
              <li><a class="dropdown-item" href="{% url  %}">MUSIC & VIDEO</a></li>
              <li><a class="dropdown-item" href="{% url  %}">ARTS & POSTERS</a></li>
              <li><a class="dropdown-item" href="{% url  %}">ACCESSORIES</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Collections by Studio
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url  %}">STARDEW VALLEY</a></li>
              <li><a class="dropdown-item" href="{% url  %}">X BOX</a></li>
              <li><a class="dropdown-item" href="{% url  %}">PLAY STATION</a></li>
              <li><a class="dropdown-item" href="{% url  %}">ATLUS</a></li>
              <li><a class="dropdown-item" href="{% url  %}">HADES</a></li>
              <li><a class="dropdown-item" href="{% url  %}">RARE</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-menu">
            {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
              {% if user.profile_image %}
              {% if 'http' in user.image_string %}
                <a href="{% url 'accounts:userpage' request.user.pk %}" class="nav-link"><span class="p-2"><img class="profile-image rounded-circle" src="{{ user.profile_image }}" style="width: 3rem; height: 3rem;" alt=""></span>{{ user.name }} 님 페이지</a>
              {% else %}
                <a href="{% url 'accounts:userpage' request.user.pk %}" class="nav-link"><span class="p-2"><img class="profile-image rounded-circle" src="{{ user.profile_image.url }}" style="width: 3rem; height: 3rem;" alt=""></span>{{ user.name }} 님 페이지</a>
              {% endif %}
              {% endif %}
          </li>
          <li>
            <a href="{% url 'accounts:logout' %}" class="nav-link">
              <img class="" src="{% static 'images/log_out.png' %}" alt="logout">
            </a>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="nav-link">
              <img class="" src="{% static 'images/log_in.png' %}" alt="login">
            </a>

            <li>
              <a href="{% url 'accounts:signup' %}" class="nav-link">
                <img class="" src="{% static 'images/sign_up.png' %}" alt="signup">
              </a>
            </li>
            {% endif %}
          </li>

        </ul>
      </div>
    </div>
  </nav>
  

  {% block content %}{% endblock content %}
  {% bootstrap_javascript %}

  <footer class="text-center" style="font-size:1rem;">
    <div class="position-sticky bottom-0 w-100 d-flex justify-content-center">
      <div class="py-2">
        <p class="m-0">
          GG Store
          <br>
          김교민, 박찬솔, 우상민, 이동희, 이정섭
        </p>
      </div>
    </div>
    <div class="m-5">
      <br>
    </div>
  </footer>
</body>

</html>